.dropdown-container {
  display: flex;
  max-height: 249px;
  width: 100%;
  justify-content: center;
  @include mobile {
    flex-wrap: wrap;
  }
  .rent-dropdown,.about-dropdown {
    width: 100%;
    max-width: calc(100% / 2);
    margin-top: 34px;
    margin-right: 76px;

    &:last-child {
      margin-right: 0;
    }
    @include mobile {
      flex-wrap: wrap;
      max-width: unset;
      margin-right: 0;
      margin-top: 20px;
    }
    .dropdown-header {
      position: relative;
      z-index: 1;
      border-radius: 10px;
      background-color: #FF6060;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 13px 20px;
      align-items: center;
      cursor: pointer;
      @include mobile {
        height:30px;
      }
      &.active {
        img {
          transform: rotate(180deg);
        }
      }
      p {
        font-size: 18px;
        color: #FFFFFF;
        @include mobile {
          font-size: 13px;
        }
      }

      img {
        width: 15.5px;
        height: 26px;
      }
    }

    .dropdown-content {
      position: relative;
      height: 0;
      z-index: 0;
      top: -10px;
      background: #F7F7F7;
      border-radius: 10px;
      overflow: hidden;
      transition: all .8s ease;
      &.active {
        height: 240px;
        overflow: hidden;
        transition: height .8s ease;
        padding: 30px 20px;
        @include mobile {
          height: 140px;
        }
      }
      p {
        font-weight: normal;
        font-size: 18px;
        line-height: 142.6%;
        color: #FF6060;
        @include mobile {
          font-size: 13px;
        }
      }
    }
  }
  .about-dropdown {
    max-width: 1023px;
  }
}
