.stars-container {
  margin-top: 24px;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  @include small-device {
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
  }
  img {
    width: 30px;
    height: 30px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }
}
