
.swiper-container {
  margin-top: 25px;
  .arrows-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: calc(100% - 240px);
    z-index: 2;
    top: 320px;
    margin: 0 20px;
    img {
      cursor: pointer;
    }

  }
  .swiper-image {
    height: 415px;
    border-radius: 25px;
    background-size: cover;
    background-position: 50% 50%;
  }
}

