.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  height: 210px;
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
        margin-bottom: 23px;
    }
    p {
      text-align: center;
      color: #FFFFFF;
    }
  }
}
