.rent-container {
  .rent-content {
    margin: 40px 100px;

    .rent-infos--container {
      margin-top: 30px;
      display: flex;

      .rent-infos {
        width: calc(100% / 2);

        h2 {
          font-weight: 500;
          font-size: 36px;
          line-height: 142.6%;
          color: #FF6060;
        }

        p {
          font-weight: 500;
          font-size: 18px;
          color: #FF6060;
        }

        .rent-tags {
          margin-top: 20px;
          display: flex;

          .rent-tag {
            background-color: #FF6060;
            padding: 5px 40px;
            font-weight: 500;
            font-size: 14px;
            line-height: 142.6%;
            text-align: center;
            color: #FFFFFF;
            border-radius: 10px;
            margin-right: 10px;
            align-items: center;
            display: flex;
          }
        }
      }

      .rent-infos.right {
        .rent-host {
          display: flex;
          justify-content: flex-end;
          align-items: center;

          .rent-host--name {
            max-width: 93px;
            font-weight: 500;
            font-size: 18px;
            line-height: 142.6%;
            align-items: flex-end;
            text-align: right;
            color: #FF6060;
            margin-right: 10px;
          }

          .rent-host--picture {
            width: 64px;
            height: 64px;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: 50%;
          }
        }
      }
    }
  }
}
