.rent-container {
  .rent-content {
    margin: 40px 100px 100px 100px;
    @include small-device {
      margin: 40px 21px 80px 21px;
    }
    @include mobile {
      margin: 22px 21px 200px 21px;
    }
    .rent-infos--container {
      margin-top: 30px;
      display: flex;
      @include small-device {
        width: 100%;
        flex-direction: column;
      }
      .rent-infos {
        width: calc(100% / 2);
        @include small-device {
          width: 100%;
        }
        h2 {
          font-weight: 500;
          font-size: 36px;
          line-height: 142.6%;
          color: #FF6060;
          @include mobile {
            font-size: 18px;
          }
        }

        p {
          font-weight: 500;
          font-size: 18px;
          color: #FF6060;
        }

        .rent-tags {
          margin-top: 20px;
          display: flex;

          .rent-tag {
            background-color: #FF6060;
            padding: 5px 40px;
            font-weight: 500;
            font-size: 14px;
            line-height: 142.6%;
            text-align: center;
            color: #FFFFFF;
            border-radius: 10px;
            margin-right: 10px;
            align-items: center;
            display: flex;
            @include mobile {
              font-size: 10px;
              padding: 2px 27px;
              line-height: 14px;
            }
          }
        }
      }

      .rent-infos.right {
        @include small-device {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          margin-top: 16px;
        }
        .rent-host {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          cursor: pointer;

          .rent-host--name {
            max-width: 93px;
            font-weight: 500;
            font-size: 18px;
            line-height: 142.6%;
            align-items: flex-end;
            text-align: right;
            color: #FF6060;
            margin-right: 10px;
            @include mobile {
              font-size: 12px;
            }
          }

          .rent-host--picture {
            width: 64px;
            height: 64px;
            background-size: cover;
            background-position: 50% 50%;
            border-radius: 50%;
            @include mobile {
              width: 32px;
              height: 32px;
            }
          }
        }
      }
    }
  }
}
