.view--home {
  .header-banner-container, .home-container {
    margin: 40px 100px;
    @include small-device {
      margin: 40px 21px;
    }
    @include mobile {
      margin: 22px 21px;
    }
  }

  .header-banner-container {
    margin-top: 68px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    @include small-device {
      margin-top: 43px;
    }
    @include mobile {
      margin-top: 16px;
    }
    .header-banner {
      width: 100%;
      height: 223px;
      background-position: 50% 50%;
      background-size: cover;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 25px;
      @include small-device {
        height: 111px;
      }
      .banner-text {
        font-weight: 500;
        font-size: 48px;
        color: #FFFFFF;
        @include small-device {
          font-size: 24px;
          margin-left: 16px;
        }
      }
    }
  }

  .home-container {
    .rent-cards--container {
      background: #F7F7F7;
      border-radius: 25px;
      padding: 56px 50px;
      display: flex;
      flex-wrap: wrap;
      @include small-device {
        padding: 0;
        background: none;
      }

      .rent-card--link {
        width: calc((100% / 3) - 37px);
        margin-right: 60px;
        text-decoration: none;
        margin-bottom: 50px;
        cursor: pointer;

        &:nth-child(3 n + 3) {
          margin-right: -10px;
        }

        @include small-device {
          margin-right: 0;
          margin-bottom: 31px;
          width: 100%;
        }
        @include mobile {
          margin-bottom: 21px;
        }

        .rent-card {
          height: 340px;
          @include mobile {
            height: 255px;
          }

          .rent-image {
            border-radius: 10px;
            height: 340px;
            background-position: 50% 50%;
            background-size: cover;
            @include mobile {
              height: 255px;
            }
          }

          .rent-title--container {
            height: 76px;
            background-color: #EBEBEB;
            position: relative;
            top: -90px;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            opacity: 0.6;

            .rent-title {
              max-width: 260px;
              opacity: 1;
              margin-left: 20px;
              padding-top: 15px;
              font-weight: 500;
              font-size: 18px;
              color: #454447;
            }
          }
        }
      }
    }
  }
}
