.view--not-found {
  .not-found--container {

    margin: 180px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    @include mobile {
      margin: 200px 58px;
    }
    img {
      width: 100%;
      max-width: 600px;
    }
    a {
      margin:182px 0 0;
      font-weight: 500;
      font-size: 18px;
      line-height: 142.6%;
      text-decoration-line: underline;
      color: #FF6060;
    }
    p {
      margin-top: 66px;
      width: 100%;
      font-style: normal;
      text-align: center;
      font-weight: 500;
      font-size: 36px;
      line-height: 142.6%;
      color: #FF6060;
    }
  }
}
