// Fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

// Utils
@import "./utils/reset";
@import "./utils/sizes";
@import "./utils/mixins";

// Components
@import "./components/swiper";
@import "./components/rating";
@import "./components/dropdown";


// Page
@import "./pages/not-found";
@import "./pages/home";
@import "./pages/article";
@import "./pages/about";


// Layouts
@import "./layouts/main-header";
@import "./layouts/main-footer";

html,
body {
  font-family: 'Montserrat', sans-serif;
  color: #1F1F26;
  font-weight: 400;
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
}
